<div class="container">
    <div class="card">
        <div class="card-content">
            <p>{{textoDosCards[0].conteudo}}</p>
        </div>
        <button class="edit-button">Editar</button>
        <button class="delete-button">Excluir</button>
    </div>
    <div class="card">
        <div class="card-content">
            <p>{{textoDosCards[1].conteudo}}</p>
        </div>
        <button class="edit-button">Editar</button>
        <button class="delete-button">Excluir</button>
    </div>
    <div class="card">
        <div class="card-content">
            <p>{{textoDosCards[3].conteudo}}</p>
        </div>
        <button class="edit-button">Editar</button>
        <button class="delete-button">Excluir</button>
    </div>
    <div class="card">
        <div class="card-content">
            <p>{{textoDosCards[3].conteudo}}</p>
        </div>
        <button class="edit-button">Editar</button>
        <button class="delete-button">Excluir</button>
    </div>
</div>
